<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <select name="data.rarity">
                        {{selectOptions config.itemRarity selected=data.rarity blank="&nbsp;"}}
                    </select>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/dnd5e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Tool Type --}}
            <div class="form-group">
                <label>{{ localize "DND5E.ItemToolType" }}</label>
                <select name="data.toolType">
                    {{selectOptions config.toolTypes selected=data.toolType blank=""}}
                </select>
            </div>

            {{!-- Tool Proficiency --}}
            <div class="form-group">
                <label>{{ localize "DND5E.ItemToolProficiency" }}</label>
                 <select name="data.proficient" data-dtype="Number">
                     {{selectOptions config.proficiencyLevels selected=data.proficient}}
                 </select>
            </div>

            {{!-- Ability Check --}}
            <div class="form-group">
                <label>{{ localize "DND5E.DefaultAbilityCheck" }}</label>
                <select name="data.ability">
                    {{selectOptions config.abilities selected=data.ability}}
                </select>
            </div>

            {{!-- Chat Message Flavor --}}
            <div class="form-group stacked">
                <label>{{ localize "DND5E.ChatFlavor" }}</label>
                <input type="text" name="data.chatFlavor" value="{{data.chatFlavor}}"/>
            </div>
        </div>
    </section>
</form>
